html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  color: #9d00ff;
  font-size: 2.2rem;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 10px #9d00ff;
}

